//文字；排版
.text-align-center(){ text-align: center }

.text-height(@height, @lines:1){
  height: @height * @lines;
  line-height: @height;
}

.max-text-hegiht(@height, @lines:1){
  max-height: @height * @lines;
  height: auto;
  line-height: @height;
}

//ellipse one-line text
.ellipsis-no-wrap(){
  display: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ellipse-wrap(@lines:2){
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: @lines;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.ellipse-wrap(@line-height, @lines){
  .text-height( @line-height, @lines );
  .ellipse-wrap(@lines);
}

.el-no-wrap{
  .ellipsis-no-wrap;
}

.el-2-line{
  .ellipse-wrap(2);
}

.el-2-line(@line-height){
  &:extend(.el-2-line);
  .text-height(@line-height, 2);
}